In [6]:
# Dependencies
import os
import json
import requests
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
from pandas.io.json import json_normalize
from pprint import pprint
import matplotlib.pyplot as plt
import sqlalchemy
import sqlite3 as sq
from config1 import eia_api_key

In [ ]:
# Building URL & Query
url = "http://api.eia.gov/series"
series_id = "NG.N9010US2.M"
query = f"{url}?api_key={eia_api_key}&series_id={series_id}"

# print(query)

response = requests.get(query).json()
pprint(response)

In [ ]:
df = pd.DataFrame(response['series'][0]["data"])
df = df.dropna(how='any')
df.columns = ['Period','Values']
df

In [ ]:
csv_file = pd.read_csv('tableValueAdded.csv')
csv_file1 = csv_file.dropna(how='any')
csv_file1.head()

In [ ]:
EnergyCSV1 = "../Angel/Total_energy_consumption.csv"
Total_energy_consumption0 = pd.read_csv(EnergyCSV1)
Total_energy_consumption = Total_energy_consumption0.rename(columns={'2016 - 2017 (%) ':'2016-2017%', '2000 - 2017 (%/year) ':'2000-2017(%/year)'})
Total_energy_consumption

In [3]:
GDP_BrazilCSV = "../../Data/GDP_PercentageCSV/GDP_Brazil.csv"
GDP_Brazil = pd.read_csv(GDP_BrazilCSV)
GDP_Brazil = GDP_Brazil.dropna(how='any')
GDP_Brazil.head()

,Year,"Agriculture, hunting, forestry, fishing (ISIC A-B)","Mining, Manufacturing, Utilities (ISIC C-E)",Manufacturing (ISIC D),Construction (ISIC F),"Wholesale, retail trade, restaurants and hotels (ISIC G-H)","Transport, storage and communication (ISIC I)",Other Activities (ISIC J-P),Total Value Added
1,1970,11.549475,30.432708,27.426026,5.392937,16.401527,4.311168,31.896277,...
2,1971,12.169892,30.753316,27.674334,5.476451,15.650481,4.186443,31.775587,...
3,1972,12.248351,31.212993,28.446963,5.777364,15.217391,4.246320,31.280663,...
4,1973,11.920644,33.737780,31.190339,5.853939,15.497412,3.910293,29.074181,...
5,1974,11.437311,34.395360,31.689973,6.098045,15.243127,3.976641,28.853488,...

In [4]:
path = '../../Data/GDP_PercentageCSV'
FileNames = os.listdir(path)
FileNames

['GDP_Brazil.csv',
 'GDP_China.csv',
 'GDP_Russia.csv',
 'GDP_Germany.csv',
 'GDP_USA.csv',
 'gdp.csv']

In [13]:

# for x in FileNames:
#     df = pd.read_csv(path + "/" + x) 
#     df.columns =["Year","Agriculture_hunting_forestry_fishing", "Mining_Manufacturing", "Manufacturing",\
#                              "Construction","Wholesale_retail_restaurants_hotels","Transport_storage_communication",\
#                              "Other","Total"]
#     df = df.dropna(how='any')
#     df = df.set_index('Year')
#     df.head()
#     df["Total"] = "0"
#     list_col = list(df.columns)
# #     for y in list_col:
# #         df.loc[df[y] == "..."] = "0"    
# #     for y in list_col:
# #         df[y] = df[y].astype(float)        
# #     y = y.replace(".csv", "")
# #     df.to_sql(name = y, con = engine, if_exists = 'replace', index=False)

# df.head()

In [15]:
# GDP_RussiaCSV = "../../Data/GDP_PercentageCSV/GDP_Russia.csv"
# GDP_Russia = pd.read_csv(GDP_RussiaCSV)
# GDP_Russia = GDP_Russia.dropna(how='any')
# GDP_Russia = GDP_Russia.fillna(0)
# GDP_Russia.head()

In [20]:
file = '../../Data/GDP_PercentageCSV/gdp.csv'
GDP_Countries= pd.read_csv(file)
# GDP_Countries = GDP_Countries.set_index('Country')
GDP_Countries

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other
0,Belgium,1970,0.995886,14.678020,13.275497,6.967794,21.933298,9.903209,32.246297
1,Belgium,1971,1.007414,14.821518,13.266587,6.818231,22.352995,9.525750,32.207505
2,Belgium,1972,0.948038,15.246876,13.539575,6.536323,22.140643,9.174939,32.413606
3,Belgium,1973,0.917638,15.478973,13.738420,6.404547,21.978622,9.114016,32.367783
4,Belgium,1974,0.924165,15.518257,13.752614,6.494207,21.595018,9.468727,32.247012
5,Belgium,1975,0.784551,15.138469,13.116040,6.591674,21.892985,8.496885,33.979395
6,Belgium,1976,0.708851,15.470595,13.433725,6.597559,21.294354,8.373620,34.121296
7,Belgium,1977,0.725766,15.578303,13.344058,6.702908,20.525489,8.347826,34.775650
8,Belgium,1978,0.788596,15.628400,13.285731,6.613827,19.782361,8.300146,35.600940
9,Belgium,1979,0.754267,15.814630,13.295995,6.187644,19.207702,8.347134,36.392629
10,Belgium,1980,0.756034,15.564238,13.105694,6.266027,18.930925,8.285861,37.091221
11,Belgium,1981,0.782479,15.424550,12.940268,5.105363,18.030620,7.997458,39.719263
12,Belgium,1982,0.816065,15.608963,13.216548,4.619130,18.092659,7.696205,39.950429
13,Belgium,1983,0.798605,16.451578,13.880315,4.276714,17.872523,7.657915,39.062351
14,Belgium,1984,0.845383,16.430361,13.853839,4.019492,16.949615,8.014433,39.886878
15,Belgium,1985,0.831557,16.528585,13.966550,4.178799,16.615104,8.067640,39.811766
16,Belgium,1986,0.851495,16.057498,13.693496,4.194130,16.578554,7.497842,41.126985
17,Belgium,1987,0.775938,15.711013,13.245189,4.165738,16.196601,7.622566,42.282955
18,Belgium,1988,0.775641,15.807924,13.273331,4.473492,15.750216,7.830837,42.088558
19,Belgium,1989,0.756968,16.009110,13.521625,4.463459,15.131729,8.000066,42.117043
20,Belgium,1990,0.724736,16.159129,13.715464,4.683269,15.422835,8.425012,40.869555
21,Belgium,1991,0.749232,15.673332,13.267712,4.637826,15.545248,8.423159,41.703492
22,Belgium,1992,0.809264,15.215107,12.874247,4.686491,15.462324,8.401201,42.551365
23,Belgium,1993,0.855021,15.031158,12.612288,4.538508,15.413563,8.281699,43.267763
24,Belgium,1994,0.774849,15.112720,12.741632,4.440271,15.060134,8.373187,43.497206
25,Belgium,1995,0.777867,15.098169,12.752380,4.429069,14.699792,8.276602,43.966121
26,Belgium,1996,0.770476,15.456841,12.963256,4.283614,14.225344,7.951311,44.349157
27,Belgium,1997,0.763467,16.004753,13.429637,4.315345,13.744162,7.937406,43.805231
28,Belgium,1998,0.772967,16.094155,13.614202,4.175007,12.911863,8.258688,44.173117
29,Belgium,1999,0.754779,15.856529,13.393621,4.242719,12.837691,8.254961,44.659700
...,...,...,...,...,...,...,...,...,...
1934,United Arab Emirates,1988,1.070577,48.713674,5.732476,8.314839,14.040915,4.476831,17.650687
1935,United Arab Emirates,1989,1.049333,51.974489,5.170431,7.768465,12.615236,4.342774,17.079272
1936,United Arab Emirates,1990,0.928933,58.046371,4.543364,6.655091,10.888129,3.680181,15.257931
1937,United Arab Emirates,1991,0.958445,57.778034,4.650909,6.596880,10.928843,3.662698,15.424191
1938,United Arab Emirates,1992,0.983726,57.166150,4.798387,6.585391,10.922535,3.764838,15.778973
1939,United Arab Emirates,1993,0.846208,59.172471,4.187729,6.780695,10.814320,3.614548,14.584029
1940,United Arab Emirates,1994,1.047884,56.964816,4.976836,6.420465,11.052229,3.609714,15.928056
1941,United Arab Emirates,1995,1.061734,55.278124,5.253443,6.549941,10.903071,4.079999,16.873688
1942,United Arab Emirates,1996,1.134680,53.396836,5.496618,6.618640,11.756959,4.098591,17.497676
1943,United Arab Emirates,1997,1.241672,53.616742,6.286846,6.454481,11.715127,3.995276,16.689855
1944,United Arab Emirates,1998,1.301497,50.837888,6.634355,6.708116,12.210377,4.421573,17.886195
1945,United Arab Emirates,1999,1.511564,48.852872,7.118538,6.725829,12.399140,4.788467,18.603590
1946,United Arab Emirates,2000,1.603091,50.281321,8.283952,6.054103,11.431262,4.884736,17.461535
1947,United Arab Emirates,2001,1.543778,49.681485,8.230987,6.081031,11.366866,5.104651,17.991202
1948,United Arab Emirates,2002,1.554101,46.459192,8.260862,5.920680,13.008605,5.726284,19.070275
1949,United Arab Emirates,2003,1.388717,45.577660,7.945899,6.160371,14.099963,5.667927,19.159463
1950,United Arab Emirates,2004,1.243487,44.825087,7.832557,6.858305,13.840700,6.004279,19.395585
1951,United Arab Emirates,2005,1.130601,43.876914,7.906908,6.954760,13.659011,6.202332,20.269474
1952,United Arab Emirates,2006,0.942304,44.145879,7.737158,8.637650,13.308457,6.135810,19.092743
1953,United Arab Emirates,2007,0.891874,40.376090,7.600257,9.158239,13.594847,6.972757,21.405936
1954,United Arab Emirates,2008,0.761882,39.030243,8.034208,9.681524,13.371264,7.470386,21.650492
1955,United Arab Emirates,2009,0.804383,37.841675,7.320443,10.437674,12.710333,8.159135,22.726357
1956,United Arab Emirates,2010,0.707077,38.494281,7.380286,10.177059,12.679666,8.074316,22.487315
1957,United Arab Emirates,2011,0.695832,39.875258,7.472447,9.451059,12.592257,7.767387,22.145760
1958,United Arab Emirates,2012,0.682352,39.923113,7.301184,9.009865,12.316312,7.768446,22.998727
1959,United Arab Emirates,2013,0.652460,39.403457,7.362106,8.550378,12.444838,7.609775,23.976985
1960,United Arab Emirates,2014,0.624191,38.244083,7.323532,8.454966,12.514122,8.034302,24.804805
1961,United Arab Emirates,2015,0.601716,38.561943,7.355244,8.348641,12.627283,7.795583,24.709589
1962,United Arab Emirates,2016,0.603467,38.602434,7.478386,7.943038,12.741655,7.458293,25.172727
1963,United Arab Emirates,2017,0.615811,37.839520,7.654578,7.740590,12.806236,7.601289,25.741976

In [21]:
import mysql.connector
from db_key import host_name, mysql_user, mysql_password

mydb = mysql.connector.connect(
  host= host_name,
  user=mysql_user,
  passwd=mysql_password)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS yzt5rfdphqfhcabx")

In [22]:
from pandas.io import sql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://' + mysql_user + ':' + mysql_password + '@' + host_name + '/yzt5rfdphqfhcabx')
with engine.connect() as con, con.begin():
    GDP_Countries.to_sql(con=con, name='GDP_Countries', if_exists='replace',index=False)