In [3]:
import pandas as pd
# import matplotlib.pyplot as plt
# from pandas import ExcelWriter
# from pandas import ExcelFile
import sqlalchemy
import sqlite3 as sq

In [4]:
# Read CSV file

file = 'gdp.csv'

In [5]:
# Create a dataframe from csv file data

df = pd.read_csv(file)
df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other
0,Belgium,1970,0.995886,14.678020,13.275497,6.967794,21.933298,9.903209,32.246297
1,Belgium,1971,1.007414,14.821518,13.266587,6.818231,22.352995,9.525750,32.207505
2,Belgium,1972,0.948038,15.246876,13.539575,6.536323,22.140643,9.174939,32.413606
3,Belgium,1973,0.917638,15.478973,13.738420,6.404547,21.978622,9.114016,32.367783
4,Belgium,1974,0.924165,15.518257,13.752614,6.494207,21.595018,9.468727,32.247012

In [6]:
### Create a sqlite file from a dataframe

sql_data = 'gdp_db.sqlite' #- Creates DB names SQLite
conn = sq.connect(sql_data)
cur = conn.cursor()

# df.to_sql('emissions', conn, if_exists='replace', index=True) # - writes the pd.df to SQLIte DB
# df.to_sql('total_consumption', conn, if_exists='replace', index=True)
# df.to_sql('coal_consumption', conn, if_exists='replace', index=True)
# df.to_sql('ng_consumption', conn, if_exists='replace', index=True)
# df.to_sql('oil_consumption', conn, if_exists='replace', index=True)
# df.to_sql('electricity_consumption', conn, if_exists='replace', index=True)
# df.to_sql('electricity_renewables_share', conn, if_exists='replace', index=True)
df.to_sql('gdp_table', conn, if_exists='replace', index=True)

conn.commit()
conn.close()