In [41]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas import ExcelWriter
from pandas import ExcelFile
import sqlalchemy
import sqlite3 as sq
import os
from db_key import user, password, port, database, host

In [42]:
url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [62]:
FileNames = os.listdir('EnergyCSV')
# FileNames = [];
# for x in FileNames_0:
#     x = x.replace(" ", "_")
#     FileNames.append(x) 
    
x = FileNames[0]
df = pd.read_csv("EnergyCSV/"+ x)
df = df.rename(columns={'Unnamed: 0': 'Country'})
y = x.replace(" ", "_")
y = y.replace(".csv", "")

df.head()
# df.to_sql(name = y, con = engine, if_exists = 'replace', index=False)

# for x in FileNames:
#     df = pd.read_csv("EnergyCSV/"+x)    
#     df = df.rename(columns={'Unnamed: 0': 'Country'})
#     y = x.replace(" ", "_")
#     y = y.replace(".csv", "")
#     df.to_sql(name = y, con = engine, if_exists = 'replace', index=False)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2016 - 2017 (%),2000 - 2017 (%/year)
0,World,20277.70,20428.88,20389.24,20483.38,20569.16,21057.10,21556.95,21792.24,21921.24,...,29824.65,30672.31,31062.29,31593.72,31775.87,31740.50,31986.76,32667.39,2.1,2.1
1,OECD,11174.87,11205.76,11267.76,11357.11,11540.20,11688.90,12090.85,12242.76,12250.75,...,12594.55,12429.28,12317.26,12313.68,12125.64,12006.28,12032.69,12194.92,1.3,-0.2
2,G7,8575.88,8549.52,8599.21,8665.63,8776.88,8872.86,9131.32,9235.16,9275.72,...,9092.64,8917.68,8823.71,8897.20,8785.76,8588.68,8548.13,8605.36,0.7,-0.6
3,BRICS,5411.20,5573.58,5544.03,5584.72,5532.00,5784.36,5836.73,5819.56,5924.93,...,11701.95,12583.75,12913.56,13365.76,13598.53,13651.28,13732.63,14105.30,2.7,5.0
4,Europe,4417.64,4392.06,4270.49,4181.88,4135.39,4191.75,4349.96,4274.10,4281.23,...,4174.56,4050.41,4025.40,3927.59,3759.79,3817.02,3836.71,3949.88,2.9,-0.4